name: Terraform Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  id-token: write
  contents: read

env:
  SNS_TOPIC_ARN: arn:aws:sns:us-east-1:196024211776:drift-alerts
  S3_BUCKET_NAME: cloudtrail-drift-logs-196024211776
  CLOUDTRAIL_NAME: drift-trail
  EVENTBRIDGE_RULE: drift-rule
  AWS_REGION: us-east-1
  AWS_ACCOUNT_ID: 196024211776

jobs:
  terraform:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::196024211776:role/GitHubActionsRole
        role-session-name: GitHubActions-Terraform
        aws-region: us-east-1
        
    - name: Terraform Init
      run: terraform init
      
    - name: Check for Drift
      run: |
        terraform plan -detailed-exitcode
        if [ $? -eq 2 ]; then
          echo "::error::Drift detected! Fix drift before deploying."
          exit 1
        fi
      
    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve
